In [1]:
import numpy as np
import pandas as pd

> Inputs & Weights

In [43]:
X = np.array([[1.2,1.1,1,0.9,0.95,1.15]])

W = np.array([[1,-0.15,-0.15,-0.15,-0.15,-0.15],
              [-0.15,1,-0.15,-0.15,-0.15,-0.15],
              [-0.15,-0.15,1,-0.15,-0.15,-0.15],
              [-0.15,-0.15,-0.15,1,-0.15,-0.15],
              [-0.15,-0.15,-0.15,-0.15,1,-0.15],
              [-0.15,-0.15,-0.15,-0.15,-0.15,1]])

> Main MaxNet Algorithm

In [3]:
def maxnet(X,W):  
  X1 = X.copy()
  W = W.copy()
  steps = [] # To determine the steps of the algorithm
  while True: 
      Out = [] 
      C = 0
      net = np.dot(X1,W) 
      for i in range(W.shape[0]):
        Y = max(0,net[0,i])
        if Y == 0:
          C = C + 1
        Out.append(Y) 
      X1 = np.array(Out)
      X1 = np.reshape(X1,(1,W.shape[0]))
      steps.append(Out) 
      if C == W.shape[0] - 1:
        last = np.array(steps[len(steps)-1]) # The last step of the algorithm (Final Output)
        break
  return pd.DataFrame(steps), X[0,(np.where(last>0))[0]][0]

In [4]:
steps, Output = maxnet(X,W)

In [5]:
steps

          0         1      2     3       4         5
0  0.435000  0.320000  0.205  0.09  0.1475  0.377500
1  0.264000  0.131750  0.000  0.00  0.0000  0.197875
2  0.214556  0.062469  0.000  0.00  0.0000  0.138512
3  0.184409  0.009508  0.000  0.00  0.0000  0.096959
4  0.168439  0.000000  0.000  0.00  0.0000  0.067871
5  0.158258  0.000000  0.000  0.00  0.0000  0.042605
6  0.151868  0.000000  0.000  0.00  0.0000  0.018867
7  0.149038  0.000000  0.000  0.00  0.0000  0.000000

In [6]:
Output

1.2

---
>Part 1- beta

In [44]:
def maxnetBeta(X,W,beta):  
  X1 = X.copy()
  W = W.copy()
  steps = [] # To determine the steps of the algorithm
  while True: 
      Out = [] 
      C = 0
      net = np.dot(X1,W) 
      for i in range(W.shape[0]):
        Y = max(beta,net[0,i])
        if Y == beta:
          Y = 0
          C = C + 1
        Out.append(Y) 
      X1 = np.array(Out)
      X1 = np.reshape(X1,(1,W.shape[0]))
      steps.append(Out) 
      if C == W.shape[0] - 1:
        last = np.array(steps[len(steps)-1]) # The last step of the algorithm (Final Output)
        break
  return pd.DataFrame(steps), X[0,(np.where(last>0))[0]][0]

In [53]:
steps, Output = maxnetBeta(X,W,0.4)

In [54]:
output_steps

          0     1  2  3  4       5
0  0.435000  0.32  0  0  0  0.3775
1  0.330375  0.00  0  0  0  0.0000

In [55]:
output_value

1.2

---
>Part 2- Largest to Smallest Sorting

In [ ]:
def maxnetSorting_LargeToSmall(X,W):
  F = []
  X = X.copy()
  W = W.copy()
  while True:
    _ , Output = maxnet(X,W)
    F = np.append(F,X[X==Output])
    W[np.where(X==X[X==Output])[1]] = 0
    if F.shape[0] == W.shape[0]:
      break
  return F

In [ ]:
maxnetSorting_LargeToSmall(X,W)

array([1.2 , 1.15, 1.1 , 1.  , 0.95, 0.9 ])

---
>Part 3- Smallest to Largest Sorting

In [ ]:
def mxanetSorting_SmallToLarge(X,W):
  F = []
  X = X.copy()
  W = W.copy()
  X1 = 1 / X
  while True:
    _ , Output = maxnet(X1,W)
    F = np.append(F,X[X1==Output])
    W[np.where(X==X[X1==Output])[1]] = 0
    if F.shape[0] == W.shape[0]:
      break
  return F

In [ ]:
mxanetSorting_SmallToLarge(X,W)

array([0.9 , 0.95, 1.  , 1.1 , 1.15, 1.2 ])